* {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 18px;
}
header {
    width: 100%;
    height: 842px;
    background-image: url(../images/app.jpg);
    background-size: contain;
}
.download {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.6;
    width: 350px;
    height: 180px;
    margin: 290px 0 0 30px;
    padding-top: 40px;
    border-radius: 5px;
    text-align: center;
    
}
.download:hover{
    opacity: 1;
    transition: 0.2s ease-in;
}
.btn-download {
    position: relative;
    padding: 10px 93px;
    border-radius: 5px;
    background-color: #319f1b;
    cursor: pointer;
}
.download p {
    display: inline-block;
    margin: 22px 0;
}
.taketour {
    position: absolute;
    right: 25px;
    margin: 378px 0px;
    padding: 12px 15px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
.taketour:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s ease-in;
}
.clarity {
    display: flex;
    background-color: #f1f1f1;
    /* width: 100; */
    padding: 12px 10px;
    height: 470px;
}

.clarity__img {
    
}
.clarity__content {
    margin: auto 0 auto 37px;
}

.clarity__content h3 {
    color: #ff0000;
    padding: 7px 0px;
}

.features{
    width: 100%;
    height: 440px;
    background-color: #616161;
    padding: 20px 0px;
}
.features__title{
    text-align: center;
    color: #ffffff;
}
.features__icon{
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.feature__icon-item {
    padding: 18px 120px;
    text-align: center;
}
.feature__icon-item i {
    font-size: 40px;
    padding-bottom: 8px;
}


.pricing {
    width: 100%;
    height: 450px;
}
.pricing__title {
    text-align: center;
    margin: 18px 0px;
}
.pricing__content {
    display: flex;
    justify-content: space-between;
    margin: 0px 110px;
}
.pricing__content-basic {
    width: 490px;
    border-top: 1px solid #000000 ;
    border-left: 1px solid #000000 ;
    border-right: 1px solid #000000 ;
    text-align: center;
}

.pricing__content-basic h3 {
    padding: 20px 200px;
    background-color: #616161;
    color: #ffffff;
    border-bottom: 1px solid #000000;
}
.pricing__content-basic p {
    border-bottom: 1px solid #000000;
    padding: 8px 0px;
}

.pricing__content-premium {
    width: 490px;
    border-top: 1px solid #000000 ;
    border-left: 1px solid #000000 ;
    border-right: 1px solid #000000 ;
    text-align: center;
}

.pricing__content-premium h3 {
    padding: 20px 200px;
    background-color: #ff0000;
    color: #ffffff;
    border-bottom: 1px solid #000000;
}
.pricing__content-premium p{
    border-bottom: 1px solid #000000;
    padding: 8px 0px;
}

.btn-pricing {
    background-color: #000000;
    color: #ffffff;
    padding: 7px 10px;
    cursor: pointer;
}
.btn-pricing:hover {
    opacity: 0.5;
    transition: 0.1s ease-in;
}

footer {
    background-color: #f1f1f1;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

footer a {
    color: #000000;
}


footer a:hover {
    color: #319f1b;
}
